<!DOCTYPE html>
<!--
所有的文档 共用这个进行渲染
通过设置不同的body 而已
-->
<html>
<!--
导入head 部分
-->
<%- partial('_partial/head') %>
<body>
<div class="hexo-layout">
    <!--
     导入header 模板
    -->
    <%- partial('_partial/header', {
        context: 'layout'
    }, {
        cache: false
    }) %>
    <div class="layout-content">
        <!--
            其他模板内容输出渲染
        -->
        <%- body %>
    </div>
</div>
</body>
</html>