<header id="header" class="hexo-header header up-border-bottom">
    <div class="logo"><%- config.title %></div>
    <div class="header-nav">
        <div class="header-nav-item">
            <%- partial('_partial/nav_dropDown', {
                context: 'header',
                props: {
                    text: '项目',
                    id:'projects',
                    items: [
                        {
                            text: '全部',
                            link: '/projects/'
                        },
                        {
                            text: 'uci',
                            link: '/projects/uci/'
                        },
                       {
                            text: 'shopping',
                            link: '/projects/shopping/'
                        }
                    ]
                }
            }, {
                cache: false,
                only: false
            })
            %>
        </div>
        <div class="header-nav-item">
            <%- partial('_partial/nav_dropDown', {
                context: 'header',
                props: {
                    text: '团队',
                    id:'teams',
                    items: [
                        {
                            text: '全部',
                            link: '/teams/'
                        },
                        {
                            text: '前端',
                            link: '/teams/webs/'
                        },
                        {
                            text: '后台',
                            link: '/teams/java/'
                        }
                    ]
                }
            }, {
                cache: false,
                only: false
            })
            %>
        </div>
        <div class="header-nav-item">
            <%- partial('_partial/nav_dropDown', {
                context: 'header',
                props: {
                    text: '技术栈',
                    id:'tools',
                    items: [
                        {
                            text: '全部',
                            link: '/tools/'
                        },
                        {
                            text: 'vueJs',
                            link: '/tools/vueJs/'
                        },
                        {
                            text: 'reactJs',
                            link: '/tools/reactJs/'
                        },{
                            text: 'node',
                            link: '/tools/node/'
                        }
                    ]
                }
            }, {
                cache: false,
                only: false
            })
            %>
        </div>
        <div class="header-nav-item">about</div>
    </div>
</header>