<div class="hexo-pageNav up-border-right">
    <!--
        page 模板的 导航 栏模板
    -->
    <% console.log('pageNav=>type=>' + type) %>
    <% console.log('pageNav=>subType=>' + subType) %>
    <% console.log(site.pages.find({type: type}).length) %>
    <% console.log(site.pages.find({subType: subType}).length) %>
    <div class="pageNav_inner <%- (subType && ' inner_sub' || '') %>">

        <% let renderPages = site.pages.find(subType ? {subType: subType} : {type: type});renderPages.sort('order').each(p => {
            // var fileName = p.path.replace(/^.+?\/([\w-]+)\.html/, '$1');

            let _navClass = ['pageNav-item', (p.type && 'nav_root' || ''), (p.subType && 'nav_sub' || ''), (p.finalType && 'nav_final' || '')].join(' ');
        %>

        <a class="<%- _navClass %>" href="<%- url_for(p.path) %>">
            <%= p.title %>
        </a>
        <% }) %>
    </div>
</div>